<header>
  <center> 
       <h1>
           {{pageTitle}}
       </h1>
  </center>
         <p>
          <li> <a href="/about">about us</a> </li>
          <li> <a href="/projects"> Projects</a></li>
          <li> <a href="/">Home</a> </li>
         </p>
</header>