<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>This is the Home Page</title>
</head>
<body>

  <center><h2>Suite is under maintance</h2></center>
  <p>We will be back soon</p>
</body>
</html>
