<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    
    <p>
        Content of the projcts page......
    </p>
    
    {{>footer}}
</body>
</html>
